<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Shoes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
  <div class="all-shoes-body">
    <div class="all-shoes-header">
      <h1>Your Shoes</h1>
      <a class="add-shoes-link" href="/users/<%=user._id%>/shoes/new">Add a Shoe</a>
    </div>
    <ul>
      <% shoes.forEach((shoe)=>{ %>
      <li>
        <a class="shoe-select-link" href="/users/<%= user._id %>/shoes/<%= shoe._id %>">

        <%= shoe.brand %> <%= shoe.style %> <%= shoe.image %>
      </li>
      <% }) %>
    </ul>
  </div>
  </body>
</html>
