<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/show.css" />

    <title><%= shoe.brand %></title>
  </head>
  <body>
  <%- include('../partials/_navbar.ejs') %>
    <div class="shoe-details">
      <h1><%= shoe.brand %> <%= shoe.style %></h1>
      <% if (shoe.description) { %>
      <p>Description: <%= shoe.description %></p>
      <div class="button-container">
        <% } %> <% if (shoe.image) { %>
          <a href="<%= shoe.image %>">
            <button>
              View Shoe Image
          </button>
          </a>
        <% } %>
        <a href="/users/<%= user._id %>/shoes/<%= shoe._id %>/edit">
          <button>
            Edit this shoe
          </button>
          </a>
       

        <form
          action="/users/<%= user._id %>/shoes/<%= shoe._id %>?_method=DELETE"
          method="POST"
      >
          <button type="submit">Delete this shoe</button>
        </form>
      </div>
    </div>
  </body>
</html>
