<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>A Users Closet</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= selectedUser.username %>'s Closet</h1>
    <div class="user-show-text">
    <h2>Name: <%= selectedUser.username %></h2>

    <h3>Shoes:</h3>
        <ul>
            <% selectedUser.shoes.forEach(shoe => { %>
            <li>
              <div>
                <%= shoe.brand %> 
                <%= shoe.style %> 
                <%= shoe.description %>
              </div>
                <img src="<%= shoe.image %>" alt="<%= shoe.brand %>"> 
              
            </li>
            <% }) %>
        </ul>
      </div>
  </body>
</html>